.main-container .row {
  width: 100%;
}

.block-container {
position: sticky;
top: 60px;
}

.booking-block {
width: 100%;
background: white;
padding: 50px 20px;
position: sticky !important;
margin: 0px 20px;
box-shadow: 0 1px 2px rgba(100,100,100,0.3);
}

.element-large {
  width: 100%;
}

.description-block {
  width: 100%;
}
.offredesc {
  font-size: 17px;
  font-weight: lighter;
  font-variant: normal;
  color: #666666;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
  }
.strong {
  box-shadow: inset 0px -18px #a1b7c9;
  width: 189px;
}
