.main-container .row {
  width: 100%;
// display: flex;
// justify-content: space-between;
// margin-left: 50px;
// margin-right: 50px;
}

.booking-block {
width: 100%;
background: white;
padding: 50px 20px;
margin: 0px 20px;
}

.element-large {
  width: 100%;
}

.description-block {
  width: 100%;
}
