.main-container .row {
  width: 100%;
}

.booking-block {
display:flex;
width: 100%;
background: white;
padding: 50px 20px;
position: sticky !important;
margin: 0px 20px;
}

.element-large {
  width: 100%;
}

.description-block {
  width: 100%;
}
