.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.neww-button {
    background-color: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font-size: 18px;
  letter-spacing: inherit;
  margin: 50px;
  padding: 8px;
  margin-top: 30px;
  text-transform: inherit;
  transition: color 1s;
  border-radius: 10px;
  color: #f9879b;
  margin-left: 0;
  &:hover {
    animation: pulse 1s ease-in infinite;
    background: radial-gradient(circle, rgba(#f9879b,0.25) 43%, transparent 50%) 0 0 / 1em 1em
              , radial-gradient(circle, rgba(#f9879b,0.25) 43%, transparent 50%) 0.5em 0.5em / 2em 2em;
    color: darken(adjust-hue(#f9879b,180),30%);
    text-decoration: none;
  }
}
@keyframes pulse {
  50% {
    background-position: 0.66em 0.66em, -0.33em -0.33em;
  }

  100% {
    background-size: 2em 2em, 1em 1em;
    background-position: -1.5em -1.5em, -1em -1em;
  }
}
.new-button {
  background-color: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font-size: 25px;
  letter-spacing: inherit;
  margin: 50px;
  padding: 10px;
  margin-top: 30px;
  text-transform: inherit;
  transition: color 1s;
  border-radius: 10px;
  color: #eea163;
  &:hover {
    animation: zigzag 1s linear infinite;
    background: linear-gradient(135deg, rgba(#eea163,0.8) 0.25em, transparent 0.25em) -0.5em 0
              , linear-gradient(225deg, rgba(#eea163,0.8) 0.25em, transparent 0.25em) -0.5em 0
              , linear-gradient(315deg, rgba(#eea163,0.8) 0.25em, transparent 0.25em) 0 0
              , linear-gradient(45deg, rgba(#eea163,0.8) 0.25em, transparent 0.25em) 0 0;
    background-size: 0.75em 0.75em;
    color: adjust-hue(white,180);
    text-decoration: none !important;
  }
}
@keyframes zigzag {
  100% {
    background-position: 1em 0, 1em 0, -0.75em 0 , -0.75em 0;
  }
}
