.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: 50% 50% !important;
  color: white;
  position: relative;
  width: 270px;
  background-size: cover;
  .card-like-link {
    z-index: 3;
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: #d53533;
  }
}
.card:hover {
  margin-top: -2px;
  box-shadow: 1px 1px 2px 1px #ccc;
  text-decoration: none;
}
.wishlist {
  width: 270px;
  height: 180px;
  color: white;
  text-align: center;
  list-style-type: none;
  position: relative;
  margin-top: 95px !important;
  background-color: rgba(250,250,250,0.2);
  .btn {
    margin-top: 15px;
  }
  .title {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
  }
  .subtitle {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 5px;
  }
  .svg-inline--fa {
    color: #d53533;
    position: absolute;
    top: 4px;
    right: 4px;
    background-size: 50px !important;
  }
}
.h1Wishlist {
  color: white !important;
  font-weight: lighter !important;
  font-size: 30px !important;
  position: absolute;
}
.h1RDV {
  color: #333333 !important;
  font-weight: lighter !important;
  font-size: 30px !important;
  position: absolute;
  margin-top: 330px;
}
.card-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 15px;
}
.svg-inline--fa.fa-w-14 {
  position: absolute;
  right: 15px;
  top: 40px;
  color: rgb(250, 250, 250);
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description a {
  font-size: 24px;
  color: white;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  color: white;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.first-layer {
  z-index: 3;
}

