.pros-header {
  background: #525252;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  height: 40vh;
  font-weight: bold;
  text-align: center;
  padding-top: 5vh;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  color: white;
}

.pros-header .pros-header-font {
  // font-size: 10px;
}
