.main-container {
  margin: 0 !important;
  width: 100%;
}
.cards-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  // padding: 10px;
  .card {
    flex: 0 0 auto;
    margin: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 1px 1px rgba(200, 200, 200, .8)
  }
}
#map {
  flex: 0 0 450px;
  height: calc(100vh - #{$navbar-height});
  margin-left: 0px;
}

.map-container {
position: sticky;
top: 70px;
}

.padding-left-0 {
  padding-left: 0 !important;
}
