.booking-list {
  list-style-type: none;
  margin-bottom: 5px;
}

.booking-info p {
  font-size: 14px;
  margin: 0px;
  padding:0px;
}

.booking-element {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .row {
    display: inline-block;
    padding: 10px;
    width: 100px;
    margin: 0px 10px;
  }
}

.date-font {
  font-size: 16px;
}

.status-font {
  font-size: 14px;
}

.flex-body {
  flex: 1 0 auto;
}

.content-bloc {
  background-color: white;
}

.row-btn {
  position: relative;
  padding: 10px;
  margin: 20px;
}

.return-btn-position {
  position: absolute;
  right: 40px;
  bottom: 10px;
}

.action-rdv {
  width: 80px !important;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    .row-status {
    display: inline-block;
  }
}

.action-rdv .fa-check-square {
  width: 16px;
  color: #006c00;
}

.action-rdv .fa-trash-alt {
  width: 16px;
  color: #c22f2f;
}

.action-rdv p {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}
