.booking-list {
  list-style-type: none;
}

.booking-info p {
  font-size: 14px;
  margin: 0px;
  padding:0px;
}

.booking-element {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgb(220, 220, 220);
  padding: 10px 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .row {
    display: inline-block;
    padding: 10px;
    width: 100px;
    margin: 0px 20px;
  }
}

.status-font {
  font-size: 14px;
}

.flex-body {
  flex: 1 0 auto;
}
