.booking-list {
  background-color: white;
  padding: 20px;
}

.booking-info {

}

.booking-element {
  background-color: rgb(220, 220, 220);
  box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
  padding: 10px 30px;
}
